<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">
  <div class="max-w-2xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
    <div class="flex items-center justify-between gap-2">
      <h1 class="text-2xl font-semibold text-gray-800 mb-4">Welcome, <%= user.username %>!</h1>
      <a href="/logout" class="mt-4 block text-blue-600 hover:underline">Logout</a>
    </div>
    <h2 class="text-lg text-gray-700 mb-2">Your favorite movies:</h2>
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Title</th>
        </tr>
      </thead>
      <tbody>
        <% user.favoriteMovies.forEach(movie=> { %>
          <tr>
            <td class="px-4 py-2 text-sm text-gray-600">
              <%= movie %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</body>

</html>